<form action="/sessions/login" method="post">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Submit">
</form>
<hr>
<p>Not a user yet?</p>
<a class="btn btn-default" href="/user/signup" role="button">Sign Up</a>