<div class="splash splashTop">
	<h1>Binoculars</h1>
	<div class="welcomeMessage">
		<h3>Welcome to Binoculars</h3>
		<p>Binoculars is a hub where bird watchers can share their sightings for others to view. CReate a field book to keep track of your sightings and track your life list or check to see what sort of birds are being seen by other users. </p>
		<a class="btn btn-default" href="user/signup" role="button">Sign Up</a>
	</div>
</div>
<hr>
<div class="splash splashBottom">
	<img class="splashImage" src="/images/splash.jpg">
	<div class="quote"> 
		<blockquote class="blockquote">
			<p><em>“Some birds are not meant to be caged, that’s all. Their feathers are too bright, their songs too sweet and wild.”</em> </p>
			<footer class="blockquote-footer">
				Stephen King, <cite title="Source Title">Different Seasons</cite></footer>
		</blockquote>
	</div>
</div>