<div class="splash splashTop">
	<h1>Binoculars</h1>
	<p>Welcome to Binoculars</p>
	<p>Some text here</p>
	<a class="btn btn-default" href="user/signup" role="button">Sign Up</a>
</div>
<hr>
<div class="splash splashBottom">
	<img src="">
	<p>some more text down here with an image above</p>

</div>