<div class="container-fluid">
	<h1 class="text-center">Watchers on Binoculars</h1>

		<div class="individualUserContainer">
			{{#each users}}
			  	<a class="btn btn-success individualUserButton" href="/user/{{this.id}}" role="button"><h3>{{name}}</h3> <br> <h2>{{this.sightings.length}} sightings</h2></a>
			{{/each}}
		 </div>

</div>