

<div class="splash">
<h2>Join our community of watchers!</h2>
  <div class="formBlock">
  <form action="/user" method="post">
    <div class="inputField">
      <input type="text" name="name" placeholder="Username">
    </div>

    <div class="inputField">
      <input type="text" name="email" placeholder="Email">
    </div>

    <div class="inputField">
      <input type="password" name="password" placeholder="Password">
    </div>

      <div class="inputField">
      <input type="password" name="passwordConfirm" placeholder="Confirm Password">
    </div>

    <input class="alignRight" type="submit" value="Submit">
  </form>
  </div>
</div>