<div class="splash">
	<div class="welcomeMessage errorMessage">
		<p>You aren't authorized to make changes to this Field Book!</p>
		
		<img class="splashImage" src="/images/accessDenied.gif">
		<p>Either you haven't logged in or are trying to edit someone else's Field Book.</p>

		<form action="/sessions/login" method="post">
		    <input type="text" name="email" placeholder="email">
		    <input type="text" name="password" placeholder="password">
		    <button type="submit" class="btn btn-default" value="Submit">Sign In</button>
		</form>
		<hr>
		<p>Not a user yet?</p>
		<a class="btn btn-default" href="/user/signup" role="button">Sign Up</a>
	</div>
</div>