html {
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	background-image: url("/images/ray-hennessy-139968.jpg"); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	background-color: transparent;
}

a {
  color: #00B7FF;
}

.splash {
	background-color: ;
}

.topNav {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	background-color: white;
}

.loginNav {
	align-content: : flex-end;
}

.siteNav {
	align-content: flex-start;
	font-size: 1.5em;
}

.bottomNav {
	width: 100%;
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-end;
	background-color: white;
	position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
}

nav li {
	display: inline;
}

a {
	text-decoration: none;
}
nav form {
	display: inline;
}