html {
  	font: 14px Helvetica, Arial, sans-serif;
  	background-image: url("/images/ray-hennessy-118042.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	background-color: transparent;
}

a {
  color: #00B7FF;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.individualUserContainer {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	background-color: rgba(100, 100, 100, 0.25);
	padding: 20px;
	border-radius: 15px;
}

.individualUserButton {
	margin: 10px;
}

#sightingModal {
	color: black;
	margin: 0 auto;


}

.individualSightingButton {
	margin: 10px;
}

.userSightings {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	background-color: rgba(100, 100, 100, 0.25);
	padding: 20px;
	border-radius: 15px;
/*	justify-content: center;*/
}

.sightingCard {
	width: justify;
	background-color: rgba(100, 100, 100, 0.25);
	padding: 20px;
	border-radius: 15px;
}

.sightingField {
	background-color: rgba(100, 100, 100, 0.25);
	padding: 10px;
	border-radius: 15px;	
}

.sightingCardForm {
	color: black;
	margin: 0 auto;
}

.cardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sightingViewButton {
	margin:;
}

.addNewSightingBox {
	margin: 10px;
}

.inputField {
	padding: 10px;
	align-self: center;
}
.formBlock {
	width: justify;
	background-color: rgba(100, 100, 100, 0.25);
	padding: 20px;
	border-radius: 15px;
}

.splash {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


}

.topNav {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	background-color: white;
}

.loginNav {
	align-content: : flex-end;
}

.siteNav {
	align-content: flex-start;
	font-size: 1.5em;
}

.bottomNav {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-end;
	background-color: white;
	position : absolute;
    bottom : 0;
    height : 50px;
    padding: 10px
}

.viewsBlock {
	color: #fff;
}
nav li {
	display: inline;
}

a {
	text-decoration: none;
}
nav form {
	display: inline;
}